certifi==2018.11.29
cycler==0.10.0
decorator==4.3.0
kiwisolver==1.0.1
matplotlib==3.0.1
mkl==2018.0.3
networkx==2.2
numpy==1.11.3
pip==18.1
pymc==2.3.6
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
scipy==1.1.0
setuptools==40.6.2
sip==4.19.8
six==1.11.0
tornado==5.1.1
wheel==0.32.3
wincertstore==0.2
